.AddCollection-page {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxWO6Owuc8dnU-pRY5zKrjr5_8h32wk2RWVA&s');
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
  }