/* src/css/Home.css */
/* .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  

  .card-title {
    font-size: 0.5rem;
    font-weight: 500;
  }
   */

   /* Style the dropdown container */
  